<% current_page = (params[:page] || 1).to_i %>
<% per_page = (params[:per_page] || 25).to_i %>

<nav class="pagination">
  <% if @current_page > 1 %>
    <%= link_to "Previous", products_path(page: @current_page - 1), data: { turbo: false }, class: "btn" %>
  <% end %>

  <% 1.upto(@total_pages) do |page_number| %>
    <%= link_to page_number, products_path(page: page_number), data: { turbo: false }, class: "btn #{'active' if page_number == @current_page}" %>
  <% end %>

  <% if @current_page < @total_pages %>
    <%= link_to "Next", products_path(page: @current_page + 1), data: { turbo: false }, class: "btn" %>
  <% end %>
</nav>
